<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-4">Nombre</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" [(ngModel)]="ejercicio.nombre" name="nombre" #nombre="ngModel">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="descripcion" class="col-form-label col-sm-4">Descripción</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" [(ngModel)]="ejercicio.descripcion" name="descripcion" #descripcion="ngModel"> 
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="grupoMuscular" class="col-form-label col-sm-4">Grupo Muscular</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" [(ngModel)]="ejercicio.grupoMuscular" name="grupoMuscular" #grupoMuscular="ngModel">
                        </div>
                    </div>

                    <!-- Sección para subir imagen -->
                    <div *ngIf="ejercicio.id" class="input-group mt-3">
                        <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                    </div>
                </form>
            </div>

            <div class="col-sm-6">
                <div class="col-sm mb-3">
                    <img *ngIf="ejercicio?.foto" src="http://localhost:8080/api/uploads/img/{{ejercicio.foto}}" alt="{{ejercicio.foto}}" class="img-thumbnail rounded">
                </div>
            </div>
        </div>

        <hr>

        <!-- Nuevo formulario para seleccionar materiales -->
        <form (ngSubmit)="agregarMaterial()" #materialForm="ngForm">
            <div class="form-group row">
                <label for="material" class="col-form-label col-sm-2">Seleccionar Material</label>
                <div class="col-sm-6">
                    <select class="form-control" id="material" name="material" [(ngModel)]="materialSeleccionado">
                        <option *ngFor="let material of materiales" [value]="material.id">{{ material.nombre }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success">Agregar</button>
                </div>
            </div>
        </form>
        
        <!-- Lista de materiales seleccionados -->
        <div *ngIf="materialesSeleccionados.length > 0" class="mt-3">
            <h5>Materiales Seleccionados:</h5>
            <ul class="list-group">
                <li class="list-group-item" style="color: black;" *ngFor="let material of materialesSeleccionados">{{ material.nombre }} <button class="btn btn-sm btn-danger ml-2" (click)="eliminarMaterial(material)">Eliminar</button></li>
            </ul>
        </div>

        <hr>
        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" (click)="guardar()" *ngIf="!ejercicio.id; else elseBlock">Crear</button>
                <ng-template #elseBlock>
                    <button class="btn btn-primary" role="button" (click)="actualizar()">Editar</button> 
                </ng-template>
                <span class="mx-2"></span>
                <button class="btn btn-rounded btn-primary" [routerLink]="['/ejercicios']">Cancelar</button>
            </div>
        </div>
    </div>
</div>
