.navbar-nav .nav-link:hover {
    color: #ffc107; 
}

.icono-normal {
    height: 50px;
    width: auto;
    transition: filter 0.3s ease;
}

.icono-normal:hover {
    filter: brightness(1.5); 
    filter: invert(100%);
}