<footer class="footer" style="background-color: #343a40; padding: 20px;">
    <div style="font-size: 14px; color: #6c757d; float: left;">
        TFG de Enrique Navarro Bujalance
    </div>
    <div style="font-size: 14px; color: #6c757d; float: right;">
        © 2024 Gym Manager. Todos los derechos reservados.
        <br>
        <a href="/politicas" style="text-decoration: none; color: #6c757d;" onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#6c757d'">Políticas de Cookies y Privacidad</a>
    </div>
</footer>
