<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-4">Nombre</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" [(ngModel)]="material.nombre" name="nombre" #nombre="ngModel">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="descripcion" class="col-form-label col-sm-4">Descripción</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" [(ngModel)]="material.descripcion" name="descripcion" #descripcion="ngModel"> 
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="stock" class="col-form-label col-sm-4">Stock</label>
                        <div class="col-sm-8">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="material.stock" name="stock" #stock="ngModel">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="tipo" class="col-form-label col-sm-4">Tipo</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" [(ngModel)]="material.tipo" name="tipo" #tipo="ngModel">
                        </div>
                    </div>

                    <!-- Sección para subir imagen -->
                    <div *ngIf="material.id" class="input-group mt-3">
                        <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                    </div>
                </form>
            </div>

            <div class="col-sm-6">
                <div class="col-sm mb-3">
                    <img *ngIf="material?.foto" src="http://localhost:8080/api/uploads/img/{{material.foto}}" alt="{{material.foto}}" class="img-thumbnail rounded">
                </div>
            </div>
        </div>

        <hr>

        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" (click)="guardar()" *ngIf="!material.id; else elseBlock">Crear</button>
                <ng-template #elseBlock>
                    <button class="btn btn-primary" role="button" (click)="actualizar()">Editar</button> 
                </ng-template>
                <span class="mx-2"></span>
                <button class="btn btn-rounded btn-primary" [routerLink]="['/materiales']">Cancelar</button>
            </div>
        </div>
    </div>
</div>
