<div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-header d-flex justify-content-between align-items-center text-center" style="font-size: 30px;">
        <span style="font-weight: bold; font-size: xx-large;">Materiales</span>
        <button class="btn btn-primary btn-lg" [routerLink]="['/materiales/form-material']">Crear Material</button>
    </div>
    <div class="form-group mt-3 ml-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar materiales..." [(ngModel)]="searchTerm">
            <div class="input-group-append">
                <button class="btn btn-seconday" type="button" (click)="searching = true; filterMateriales()"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="materiales?.length == 0" class="alert alert-info">
            No hay registros en la base de datos
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3" *ngFor="let material of materiales">
                <div class="card mb-3">
                    <img *ngIf="material?.foto" src="http://localhost:8080/api/uploads/img/{{material.foto}}" alt="{{material.foto}}" class="card-img-top rounded">
                    <img *ngIf="!material?.foto" src="http://localhost:8080/images/noimage.png" alt="Sin foto" class="card-img-top rounded">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-size: 20px; color: black">{{ material.nombre }}</h5>
                        <div class="btn-group" role="group">
                            <button type="button" name="ver" [routerLink]="['/materiales/ver-material', material.id]" class="btn btn-primary"><i class="fas fa-eye"></i></button>
                            <button type="button" name="editar" [routerLink]="['/materiales/form-material', material.id]" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                            <button type="button" name="eliminar" (click)="delete(material)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-3" *ngIf="!searching">
        <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage == 1">
                <a class="page-link" href="javascript:void(0)" (click)="onPageChange(currentPage - 1)">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let page of getPageNumbers()" [class.active]="currentPage == page">
                <a class="page-link" href="javascript:void(0)" (click)="onPageChange(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage == getTotalPages()">
                <a class="page-link" href="javascript:void(0)" (click)="onPageChange(currentPage + 1)">Siguiente</a>
            </li>
        </ul>
    </div>
</div>
