<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">Nombre</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="diarutina.nombre" name="nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="dia" class="col-form-label col-sm-4">Día</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="diarutina.dia" name="dia">
                </div>
            </div>

            <!-- Sección para seleccionar ejercicios -->
            <div class="form-group row">
                <label for="ejercicios" class="col-form-label col-sm-4">Ejercicios</label>
                <div class="col-sm-8">
                    <select class="form-control" id="ejercicios" [(ngModel)]="selectedEjercicio" name="ejercicios">
                        <option *ngFor="let ejercicio of ejercicios" [ngValue]="ejercicio">{{ ejercicio.nombre }}</option>
                    </select>
                    <button class="btn btn-success mt-2" (click)="agregarEjercicio(selectedEjercicio)">Agregar Ejercicio</button>
                </div>
            </div>
            
            <!-- Lista de ejercicios seleccionados -->
            <div *ngIf="ejerciciosSeleccionados.length > 0" class="mt-3">
                <h5>Ejercicios Seleccionados:</h5>
                <ul class="list-group">
                    <li class="list-group-item" style="color: black;" *ngFor="let ejercicio of ejerciciosSeleccionados">
                        {{ ejercicio.nombre }}
                        <button class="btn btn-sm btn-danger ml-2" (click)="eliminarEjercicio(ejercicio)">Eliminar</button>
                    </li>
                </ul>
            </div>

            <div class="form-group row mt-3">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="guardar()">{{ diarutina.id ? 'Actualizar' : 'Crear' }}</button>
                    
                    <span class="mx-2"></span>
                    <button class="btn btn-rounded btn-primary" [routerLink]="['/diasrutinas']">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
